.itemCard-front {
    width: 30vw;
    height: 95vh;
    background-image: url(../../../assets/cardBG/01.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: beige;
    border: 10px solid palegoldenrod;
    border-radius: 5px;
}

.itemCard-nameAndCost {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vh;
    margin-top: 1vh;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: darkslategray;
    justify-content: center;
    align-content: center;
    padding-left: 1vw;
}

.itemCard-name {
    font-size: 3vh;
    align-self: center;
}

.itemCard-cost {
    font-size: 1.5vh;
    align-self: last baseline;
}

.itemCard-portrait {
    width: 20vw;
    border-radius: 5%;
    margin-inline-start: 5vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    align-items: center;
    align-self: center;
    align-content: center;
}

.itemCard-descriptionBox {
    height: 31vh;
}

.itemCard-equipmentType {
    margin-right: 1vw;
    border-radius: 5px;
    height: 2vh;
    font-size: 1.5vh;
    padding-right: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: darkslategray;
    color:rgb(214, 224, 224);
    align-items: center;
    align-self: center;
    align-content: center;
}

.itemCard-descriptionBox {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vh;
    border-radius: 5px;
    font-size: 1.5vh;
    color:rgb(214, 224, 224);
}

.itemCard-weaponData {
    background-color: darkslategray;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 5px;
    margin-bottom: 1vh;
    margin-right: 1vw;
    padding-left: 1vw;
}

.itemCard-description {
    background-color: darkslategray;
    border-radius: 5px;
    padding-top: 1vh;
    padding-left: 1vw;
    margin-right: 1vw;
    font-size: 1.5vh;
    color:rgb(214, 224, 224);
    height: 10vh;
}