.skill-menu {
    width: 90vw;
    display: grid;
    grid-auto-flow: column;
    gap: 0px;
}

.skills-menu-section {
    width: 45vw;
    margin-right: 0vw;
    gap: 0px;
}

.showing-skillCard-section {
    width: 30vw;
    height: 98vh;
    margin-left: 8vw;
    align-self: center;
}

.skills-menu-buttonsContainer {
    width: 5vw;
    display: grid;
    padding-top: 30vh;
    padding-bottom: 20vh;
    padding-left: 0vw;
}

.skills-menu-button {
    width: 7vw;
    height: 7vw;
    background-color: rgb(40, 130, 130, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1vw;
    text-align: center;
    font-size: medium;
}

.skills-menu-button:hover {
    background-color: rgb(40, 130, 130, 1);
    font-size: large;
    transition-duration: 0.5s;
}

.skills-menu-upper-section {
    width: 50vw;
    height: 60vh;
    display: flex;
    margin-top: 1vh;
    margin-bottom: 10px;
    padding: 5px;
    padding-left: 3vw;
    grid-template-areas: "skillCard-small-container skillCard-small-container skillCard-small-container skillCard-small-container skillCard-small-container skillCard-small-container skillCard-small-container skillCard-small-container" "skillCard-small-container skillCard-small-container skillCard-small-container skillCard-small-container skillCard-small-container skillCard-small-container skillCard-small-container skillCard-small-container" "skillCard-small-container skillCard-small-container skillCard-small-container skillCard-small-container skillCard-small-container skillCard-small-container skillCard-small-container skillCard-small-container" "skillCard-small-container skillCard-small-container skillCard-small-container skillCard-small-container skillCard-small-container skillCard-small-container skillCard-small-container skillCard-small-container";
    justify-content: left;
    background-color: rgb(100, 100, 100, 0.5);
    overflow-y: auto;
}

.skills-menu-lower-section {
    width: 50vw;
    height: 35vh;
    display: flex;
    padding: 5px;
    padding-left: 3vw;
    grid-template-areas: "skillCard-small-container skillCard-small-container skillCard-small-container skillCard-small-container skillCard-small-container skillCard-small-container skillCard-small-container skillCard-small-container";
    background-color: rgb(100, 100, 100, 0.5);
    justify-content: left;
}

.skillCard-small-container {
    width: 5vw;
    height: 22vh;
    background-color: rgb(46, 57, 50);
    border: 1px solid black;
    margin-right: 1.5vw;
}

.skillCard-small {
    width: 100%;
}

.skillCard-small-name {
    width: 100%;
    margin-top: 0px;
    padding-bottom: 3px;
    padding-left: 5px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(255, 255, 255);
}

.skillCard-small-consumes-container {
    display: flex;
    flex-direction: row;
    padding-left: 2px;
    font-size: 10px;
    color: black;
    background-color: rgb(185, 118, 118);
}

.skillCard-small-produces-container {
    display: flex;
    flex-direction: row;
    padding-left: 2px;
    font-size: 10px;
    color: black;
    background-color: rgb(116, 208, 208);
}