.characterCard {
    width: 30vw;
    height: 95vh;
    background-color: rgb(6, 6, 6);
    display: grid;
    grid-template-areas: "characterCard-front characterCard-back";
    margin-top: 1vh;
    margin-left: 5vw;
    border: 0.2vh solid rgb(230, 230, 170);
    border-radius: 0.5vh;
}

.characterCard-front {
    width: 30vw;
    height: 95vh;
    background-image: url(../../../assets/cardBG/01.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: beige;
    display: grid;
    grid-template-areas: 
    "characterCard-front-info", 
    "characterCard-front-portrait",
    "characterCard-front-activeInternal",
    "characterCard-front-equipments",
    "characterCard-front-traits",
    "characterCard-front-skills",
    "characterCard-front-position";
}

.characterCard-back {
    width: 30vw;
    height: 95vh;
    background-image: url(../../../assets/cardBG/01.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-areas:
    "characterCard-back-attributes",
    "characterCard-back-proficiencies",
    "characterCard-back-battlers",
    "characterCard-back-elements",
    "characterCard-back-artisans",
    "characterCard-back-learnedSkills";
}

.characterCard-portrait {
    width: 20vw;
    border-radius: 5%;
    margin-inline-start: 5vw;
    margin-top: 0.1vh;
    margin-bottom: 0.1vh;
    align-items: center;
    align-self: center;
    align-content: center;
}

.characterCard-panel-backgroundBox {
    background-color: rgb(85, 105, 45);
    height: 3vh;
}

.characterCard-panel-Info, .characterCard-panel-Active-Internal, .characterCard-panel-Equipments, .characterCard-panel-Traits, .characterCard-panel-Skill-Sequence, .characterCard-panel-Party-Position, .characterCard-panel-Attributes, .characterCard-panel-Battlers, .characterCard-panel-Elements, .characterCard-panel-Artisans, .characterCard-panel-Learned-Skills, .characterCard-panel-Proficiencies, .characterCard-panel-Learned-Internal {
    margin-top: 0.4vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    background-color: darkslategrey;
    border-radius: 0.5vh;
    overflow-y: auto;
    color: white;
}

.characterCard-panel-Equipments {
    height: 20vh;
}

.characterCard-panel-Attributes {
    height: 13vh;
}

.characterCard-panel-Elements {
    height: 8vh;
}

.characterCard-panel-Proficiencies {
    height: 15vh;
}

.characterCard-panel-Artisans {
    height: 13vh;
}

.characterCard-panel-Learned-Skills {
    height: 30vh;
    overflow-x: auto;
}

.characterCard-panel-Traits {
    height: 10vh;
    overflow-x: auto;
}

.characterCard-panel-Info {
    margin-top: 0.5vh;
    display: grid;
    padding: 0.5vh;
    background-color: rgb(124, 137, 101);
}

.characterCard-panel-Equipments {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 20% 80%;
}

.characterCard-status-container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 33% 34% 33%;
}

.characterCard-equipment-container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 25% 25% 25% 25%; 
}

.characterCard-skill-container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 25% 25% 25% 25%; 
}

.characterCard-info-valueContainer {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 33% 34% 33%;
}

.characterCard-panel-label {
    color: midnightblue;
    font-weight: bold;
    font-size: medium;
}

.characterCard-item-label {
    padding-top: 0.3vh;
    padding-left: 0.5vw;
    color: beige;
    font-size: small;
}

.characterCard-panel-label-Active-Internal, .characterCard-panel-label-Equipments, .characterCard-panel-label-Traits, .characterCard-panel-label-Skill-Sequence, .characterCard-panel-label-Party-Position, .characterCard-panel-label-Attributes, .characterCard-panel-label-Battlers, .characterCard-panel-label-Elements, .characterCard-panel-label-Artisans, .characterCard-panel-label-Learned-Skills, .characterCard-panel-label-Proficiencies, .characterCard-panel-label-Learned-Internal {
    padding-left: 0.5vw;
    background-color: darkolivegreen;
}

.characterCard-item-value {
    padding-top: 0.3vh;
    padding-left: 0.5vw;
    color: beige;
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}